/* REGLAS GENERALES DE TODO EL CUERPO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body { 
    display: flex; 
    flex-flow: column;
    font-size:16px;
   }
main {
    flex: 1;
   }
.fondoHuellas{
    background-image: url(../images/main/fondo.png);
}
.efectoEntrePaginas{
    animation-name: web;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}
@keyframes web{
    from{
        opacity: 0;
        transform:translateY(40px);
    }
    to{          
        opacity: 1;
        transform:translateY(0px);
    }    
}

/* HEADER *************************************************************************************************************************************/
.cajaHeaderSuperior{
    display: flex;
    justify-content: center;
    width: 100%;
}
.textoHeaderSuperior{
    display: inline-block;
    opacity: 0.4;
    color:black;
    font-size: 0.9rem;
    font-weight:bold;
    font-family: 'Comfortaa', cursive;
    word-spacing: 6.25rem;
    text-transform:uppercase;
    margin: 0%;
    padding: 0%;
}

/* BARRA DE NAVEGACION ***************************************************************************************************************************/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
nav ul{    
    list-style: none;
    display:flex;
    text-align: center;
    width: 100%;
    height: 40px;
    justify-content: center;
    background:linear-gradient(90deg, #ffb181 35%, #d85b8c 75%);
    padding: 0;
}
nav ul li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
nav ul li img{
    position:relative;
    top: 27px;
    width: 170px;
    height: 170px;
    z-index: 1;
}
nav ul li a{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    color: white;
    display: block;
    text-decoration: none;
}
/*transicion navbar*/
.cajaNavBar:hover{
    background-color:#8f3f7d;
    transition: .6s;
}
.textoNavBar:hover{
   transition: .6s;
   color: white;
}
/*Logo animacion*/
.logoAnimacion{
    animation-name: prueba;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes prueba{
    from{
        opacity: 0;
        transform:translateY(-100px);
    }
    to{          
        opacity: 1;
        transform:translateY(0px);
    }    
}

/*SLIDESHOW INDEX*********************************************************************************************************************************/
/*bootstrap modificaciones*/
.carousel-inner{
    display: flex;
    width: 100%;
    margin-top: 0.5%;
}

/*BANNER PROMOCIONAL INDEX ***********************************************************************************************************************/

.banner{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding-bottom: 2%;
    border-bottom-style: solid;
    border-width: 1.5px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

/*MATERIA PRIMA INDEX*****************************************************************************************************************************/

/*bootstrap modificaciones*/
.nav-tabs {
    border-style: none;
    justify-content: space-around;
    width: 100%;
}
.nav-tab{
    width: 100%;
}
.nav-tabs .nav-link.active{
    border-color: none;
    border-style: none;
    background: transparent;
    border-width: 1.5px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-style: none;
}
.nav-link{
    transition: none;
    padding: 0;
}
.tab-content{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
.fade {
    transition: opacity .3s linear;
}

/*css original*/

/*titulo superior*/
.cajaMatPrima{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    font-family: 'Cabin', sans-serif;
    padding-bottom: 3.5%;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom-style: solid;
    border-width: 1.5px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
section h2{
    font-size: 1.5rem;
    opacity: 0.7;
    word-spacing: 1.5px;
    margin-bottom: 0.8%;
}
section h4{
    font-size: 1.2rem;
    opacity: 0.5;
    margin-bottom: 2%;
}

/*imagenes*/
.ImgCajaMatPrim{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.cajaTransicion{
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    border-radius:100%;
    border: 10px solid transparent;
    box-shadow: inset 10px 10px 10px 10px #ecccd0;
    transition: transform .4s; 
}
.cajaTransicion:hover {
    transform: scale(1.20,1.20);
    border: 10px solid rgba(216,91,140, 0.3);
}

/*informacion*/
.cajaMatPrimaInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgba(0,0,0,.1);
    height: 100px;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);   
    opacity: 1;
}
.tituloPropiedades{
    font-weight: 700;
    margin-bottom: 0;
}
.textoPropiedades{
    width: 90%;
    margin-bottom: 0;
}

/*MEDIOS DE PAGO y ENVIO************************************************************************************************************************/
.cajaPagoYenvios{    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    margin-top: 3%;
    margin-bottom: 5%;     
}
.CajaImgMdp{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 100px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.imgMdp{
    width: auto;
    height: 80px;
}

/*FOOTER********************************************************************************************************************************/

/*bootstrap modificaciones*/

p {
    margin: 0;
}

/*css original**************/

footer{
    display: flex;
    flex-direction: column;
    background:linear-gradient(90deg, #d85b8c 25%,#d44d7d 75%);
}

/*Caja superior rosa*/
.cajaGde{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

/*caja lateral izq*/
.cajaIzq{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1%;
    width: 33%;
}
.cajaLinks{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cajaHorario{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 10px;
}
.linksDeInteresTitulo{
    color: white;
    font-weight: 700;
}
.linksDeInteresTexto{
    text-decoration: none;
    color: white;
    opacity: .8;
    border-bottom-style: solid;
    border-bottom-width: 100%;
    border-width: 1px;
    border-bottom-color: transparent;
    transition: .2s;
}
.linksDeInteresTexto:hover{
    color:white;
    opacity: .9;
    border-bottom-color: white;
    border-bottom-style: solid;
}
.horarioTitulo{
    color: white;
    font-weight: 700;
}
.horarioTexto{
    color: white;
    opacity: .8;
}

/*caja centro*/
.cajaCentro{
    display: flex;
    justify-content: center;
    height: 150px;
    flex-direction: column;
    align-items: center;
    border-left: solid;
    border-right: solid;
    border-right-color: white;
    border-left-color: white;
    border-width: 1px;
    margin-left: 350px;
    margin-right: 350px;
    width: 33%;
}
.cajaEncontranos{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-bottom: 2%;
}
.cajaRedes{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
}
.footerImgRedes{
    display: flex;
    width: 40px;
    height: 40px;
    margin-left:5px;
    margin-right: 5px;
    opacity: 0.8;
}
.footerImgRedes:hover{
    opacity: 1;
    transform: scale(1.2,1.2);
}
.cajaDatos{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2%;
}
.footerImg{
    width: 20px;
    height: 20px;
}
.cajasIndividuales{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
}
.textoContacto{
    display: flex;
    color: white;
    font-size: 0.95rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-style:oblique;
    padding-left: 3px;
    padding-right: 3px;
}

/*caja lateral der*/
.cajaDer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 1%;
    width: 33%;
}
.tuMensaje{
    text-align: right;
    color: white;
    font-family: 'Poppins', sans-serif;
    opacity: 0.9;    
}
.cajaGato{
    display: flex;
    position: relative;
    top: 9.5px;
}
.gatoImagen2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
}
.cajaGato:hover .gatoImagen2 {
    opacity: 1;
}

/*subfooter*/
.contenedorCopyRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:#532327;
    text-decoration: none;
    width: 100%;
    height: 24px;
    padding-right: 2%;
}
.copyRight{
    opacity: 0.6;
    font-family: 'Cabin', sans-serif;
    font-weight: lighter;
    display: inline-block;
    color: white;
    font-size: 0.75rem;
} 

/*CONTACTO*********************************************************************************************************************************/

/*bootstrap modificaciones*/


/*imagen gato superior*/
.fondoContacto{
    background-image: url(../images/contacto/fondogato.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 100%;
    padding-top: 0%;
    margin-top: 0%;
    animation-name: gato;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes gato{
    from{
        opacity: 0;
        transform:translateX(-30px);
    }
    to{          
        opacity: 1;
        transform:translateX(0px);
    }    
}
/*textos*/
.cajaDuda{
    height: 80px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4%;
    padding-left: 6%;
}
.textoDuda{
    display: flex;
    color: #545454;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-right: 1%;
    animation-name: texto1;
    animation-iteration-count: 1;
    animation-duration: 3s;
}
@keyframes texto1{
    from{
        opacity: 0;
        transform:translateX(-30px);
    }
    to{          
        opacity: 1;
        transform:translateX(0px);
    }    
}
.cajaComentario{
    height: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.textoComentario{
    color: rgba(0, 0, 0, .3);
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left: 26%;
    animation-name: texto2;
    animation-iteration-count: 1;
    animation-duration: 3.5s;
}
@keyframes texto2{
    from{
        opacity: 0;
        transform:translateX(-30px);
    }
    to{          
        opacity: 1;
        transform:translateX(0px);
    }    
}
.cajaAyuda{
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.textoAyuda{
    color: #9e9d9d;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    padding-right: 1%;
    animation-name: texto3;
    animation-iteration-count: 1;
    animation-duration: 2.5s;
}
@keyframes texto3{
    from{
        opacity: 0;
        transform:translateX(30px);
    }
    to{          
        opacity: 1;
        transform:translateX(0px);
    }    
}
.bottomText{
    display: flex;
    height: 600px;
    justify-content: flex-end;
    align-items: flex-end;
}
.textoBottom{
    display: flex;
    color: #9e9d9d;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    padding-right: 1%;
    animation-name: texto4;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}
@keyframes texto4{
    from{
        opacity: 0;
    }
    to{          
        opacity: 1;
    }    
}

/*caja general de contacto*/
.cajaGral{
    display: flex;
    flex-direction: row;
    background-color:rgba(245, 144, 153, 0.63);
    padding: 1.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}

/*izquierda*/
.cajaFormIzq{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color:rgba(228, 228, 228, 0.25);
    color: rgba(0, 0, 0, 0.53);
    border-radius: 10px;
    border-style:solid;
    border-width: 1.5px;
    border-color: rgba(0, 0, 0, .25);
    font-size: 1.1rem;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1%;
}
.recuadrosCampos{
    border-style: none;
    background-color: rgba(255, 255, 255, 0.66);
    display: flex;
    margin-bottom: 1%;
}
.cajaNewsLetter{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 1%;
}
.newsLetter{
    margin-left: 2%;
}
.cajaCantidad{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cantidadGatos{
    display: inline-block;
}
input[type=text] {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.66);
  }  
  input[type=text]:focus {
    border: 1px solid rgba(0, 0, 0, .4);
    color: rgba(0, 0, 0, .3);
  }

/*derecha*/
.cajaFormDer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 296px;
    margin-left: 1.5%;
}
.recuadroMensaje{
    border-style: none;
    border-radius: 5px;
    width: 100%;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.66);
}
::placeholder{
    color: rgba(0, 0, 0, 0.53);
  }
  textarea {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.66);
  }  
  textarea:focus {
    border: 1px solid rgba(0, 0, 0, .3);
    color: rgba(0, 0, 0, .3);
  }
.enviar{
    background-color:rgba(245, 144, 153, 0.63);
    color: rgba(0, 0, 0, 0.53);
    font-size: 1rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.limpiar{
    background-color:rgba(245, 144, 153, 0.63);
    color: rgba(0, 0, 0, 0.53);
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/*NOSOTROS**********************************************************************************************************************************/
.sectionfondo{
    display: flex;
    flex-direction: column;
    background-image: url(../images/nosotros/nosotrosfondo.png);
    background-repeat:no-repeat;
    height:auto;
    width: 100%;
    background-position: center;
    margin-top: 2%;
}
.cajatitular{
    display: flex;
    width: 50%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgba(0, 0, 0, 0.6);
    align-items: center;
    height: 65px;
}
.textotitular{
    display: block;
    font-size: 3rem;
    opacity: 0.87;
    padding-left: 5%;
}
.cajatexto{
    text-align: right;
    padding: 1%;
    display: flex;
    margin-left: 30%;
    margin-top: 3%;
    width: 50%;
    height:auto;
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.h3texto{    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:normal;
    font-style: italic;
    font-size: 1.2rem;
    opacity: 0.7;
}
.epigrafe{
    display: flex;
    width: 40%;
    margin-left: 60%;
    margin-top: 4%;
    color: white;
    background-color:rgba(0, 0, 0, 0.6); 
    border-bottom-left-radius: 10px;
}
.epigrafe--texto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:normal;
    font-style: italic;
    opacity: 0.8;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 4px;
}

/*CLIENTES*************************************************************************/

.grid{
    display: flex;
    width: 100%;
    margin-top: 2%;
}
.imagenesgrid{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

/*grilla izquierda*/
.gridizq{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;
    height:650px;
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
}
.imagengrid1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.imagengrid2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
.imagengrid3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.imagengrid4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.imagengrid5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.imagengrid6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
.imagengrid7 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

/*grilla derecha*/
.gridder{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;
    height: 650px;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.imagengrid10 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.imagengrid20 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.imagengrid30 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.imagengrid40 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.imagengrid50 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.imagengrid60 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

/*PRODUCTOS**********************************************************************/


/*banner superior*/

.bannerFondoProductos{
    width: 100%;
    height: 800px;
    margin-top: 0.5%;
    display: flex;
    justify-content: space-between;
}
.bannerFoto1{
    animation-name: foto1;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes foto1{
    from{
        opacity: 0;
        transform:translateX(-500px);
    }
    to{          
        opacity: 1;
        transform:translateX(0px);
    }
}
.bannerFoto2{
    animation-name: foto2;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes foto2{
    from{
        opacity: 0;
        transform:translateX(-1000px);
    }
    to{          
        opacity: 1;
        transform:translateX(0px);
    }    
}
.bannerFoto3{
    animation-name: foto3;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes foto3{
    from{
        opacity: 0;
        transform:translateX(-1500px);
    }
    to{          
        opacity: 1;
        transform:translateX(0px);
    }    
}
.bannerFoto4{
    animation-name: foto4;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes foto4{
    from{
        opacity: 0;
        transform:translateX(-2000px);
    }
    to{          
        opacity: 1;
        transform:translateX(0px);
    }    
}
.bannerCajaTexto{
    display: flex;
    position: relative;
    bottom: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, .7);
    animation-name: cajabanner;
    animation-iteration-count: 1;
    animation-duration: 4s;
    transition-delay: 1s;
    justify-content: flex-end;
    align-items: center;
}
@keyframes cajabanner{
    from{
        width: 0px;
        opacity: 0;
        transform:translateX(-2600px);
    }
    to{
        width: 100%;
        opacity: 1;
        transform:translateX(0px)
    }
}
.bannerFooterTexto{
    font-size: 4.5rem;
    color:white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5%;
    animation-name: textobanner;
    animation-iteration-count: 1;
    animation-duration: 3s;
}
@keyframes textobanner{
    from{
        opacity: 0;
        color: black;
    }
    to{
        opacity: 1;
        color:white;
    }
}

/*Contenedor general nav y productos************************/
.productosContenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items:flex-start;
}

/*LADO IZQUIERDO*/

/*navmenu************/
.cajaMenuIzq{
    display: flex;
    flex-direction: row;
    width: 175px;
    height: 800px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(191, 85, 124, .3);
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.3);
    justify-content: center;
    padding-top: 1.5%;
}
.contenedorMenu{
    display:inline-block;
    text-align: center;
    list-style: none;
    width: 100%;
    height: auto;
}
.textoMenuIzq{
    width: 100%;
    color: white;    
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;    
}

/*LADO DERECHO*/

/*TEXTO*/
.cajaMenuDer{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.cajaTextoDondeEstoy{
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 5px;
}
.textoDondeEstoy{
    display: inline-block;   
    color: black;
    opacity: 0.3;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
    transition: .3s;
}
.cajaTextoDondeEstoy :hover {
    opacity: 0.5;
}

/*ITEMS*/
.cajaProductos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 75px;
    grid-row-gap: 75px;
    height:auto;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, .3);
    border-top-width: 3px;
    padding-top: 2%;
    padding-right: 18%;
}
.imagenProductoListado{
    width: 275px;
    height: 275px;
    display: block;
}
.cajitaImagen{
    position: relative;
    width: 275px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3)
}
.textoprueba1{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 105%;
    background-color: #008CBA;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: rgba(191, 85, 124, .3);
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.3);    
    width: 100%;
    height:13px;
    transition: .5s ease;
    font-size: 1.25rem;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color:rgba(191, 85, 124, 0)    
}
.cajitaImagen:hover .textoprueba1{
    height: 12%;
    color: slategrey;
}