/****************************************MIXIN*************************************************************************************************/
@mixin fotosexperiencia ($filter){
    height:300px;
    width:25%;
    z-index: 20;
    transition: .3s;
    filter: $filter;
}
@mixin fotosexperienciahover{    
    transform: scale(1.1);
    z-index: 50;
    filter: grayscale(0%) brightness(100%);
}
@mixin h2h4 ($font-size,$opacity, $margin-bottom){
    font-size:$font-size;
    opacity:$opacity;
    margin-bottom:$margin-bottom;
    text-align:center;
}
/**********************************************************************************************************************************************/
h2{
    @include h2h4(1.5rem,0.7,0.8%);
    word-spacing: 1.5px;
    margin-top: 5%
}
h4{
    @include h2h4(1.2rem,0.5,2%);
}
.contenedorExperiencias{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding-left: 4%;
    margin-right: 4%;
    .experiencia1{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 300px;
        align-items: center;
        margin-bottom: 4%;
        align-self: center;
        .experiencia1--caja1{
            display: flex;
            width: 40%;
            height: 80%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-style: solid;
            border-bottom-style: solid;
            border-width: 1px;
            border-top-color: rgba(0, 0, 0, 0.2);
            border-bottom-color: rgba(0, 0, 0, 0.2);    
            img{
                height: auto;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
            .experiencia1--cajaTexto{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 60%;
                margin-left: 30px;               
                .nota{
                    font-family: 'Cabin', sans-serif;
                    font-size: 1.2rem;
                    color: rgba(0, 0, 0, 0.4);
                    font-style: italic;            
                }
                .firma{
                    font-family: 'Cabin', sans-serif;
                    font-size: 1.4rem;
                    text-align: right;
                    opacity: 0.8;
                }
            }       
        }
        .experiencia1--caja2{
            display: flex;
            height: 100%;
            flex-direction: row;
            width: 60%;
            justify-content: flex-start;
            .experiencia1--fotos--11{
                @include fotosexperiencia (grayscale(100%) brightness(80%));
            }
            .experiencia1--fotos--12{
                @include fotosexperiencia (grayscale(100%) brightness(60%));
            }
            .experiencia1--fotos--13{
                @include fotosexperiencia (grayscale(100%) brightness(40%));
            }
            .experiencia1--fotos--14{
                @include fotosexperiencia (grayscale(100%) brightness(20%));
            }
            .experiencia1--fotos--11:hover{
                @include fotosexperienciahover();
            }
            .experiencia1--fotos--12:hover{
                @include fotosexperienciahover();
            }
            .experiencia1--fotos--13:hover{
                @include fotosexperienciahover();
            }
            .experiencia1--fotos--14:hover{
                @include fotosexperienciahover();
            }
        }
    }
    .experiencia2{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 300px;
        align-items: center;
        margin-bottom: 4%;
        align-self: center;
        .experiencia2--caja2{
            display: flex;
            height: 100%;
            flex-direction: row;
            width: 60%;
            justify-content: flex-start;
            .experiencia2--fotos--11{
                @include fotosexperiencia (grayscale(100%) brightness(80%));
            }
            .experiencia2--fotos--12{
                @include fotosexperiencia (grayscale(100%) brightness(60%));
            }
            .experiencia2--fotos--13{
                @include fotosexperiencia (grayscale(100%) brightness(40%));
            }
            .experiencia2--fotos--14{
                @include fotosexperiencia (grayscale(100%) brightness(20%));
            }
            .experiencia2--fotos--11:hover{
                @include fotosexperienciahover();
            }
            .experiencia2--fotos--12:hover{
                @include fotosexperienciahover();
            }
            .experiencia2--fotos--13:hover{
                @include fotosexperienciahover();
            }
            .experiencia2--fotos--14:hover{
                @include fotosexperienciahover();
            }
        }    
        .experiencia2--caja1{
            display: flex;
            width: 40%;
            height: 80%;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-style: solid;
            border-bottom-style: solid;
            border-width: 1px;
            border-top-color: rgba(0, 0, 0, 0.2);
            border-bottom-color: rgba(0, 0, 0, 0.2);
            justify-content: flex-end;
            .experiencia2--cajaTexto{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 60%;
                margin-left: 30px;
                padding-right: 20px;               
                .nota{
                    font-family: 'Cabin', sans-serif;
                    font-size: 1.2rem;
                    color: rgba(0, 0, 0, 0.4);
                    font-style: italic;            
                }
                .firma{
                    font-family: 'Cabin', sans-serif;
                    font-size: 1.4rem;
                    text-align: right;
                    opacity: 0.8;
                }
            }
            img{
                height: auto;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }
    }
}
 





.grid{
    display: flex;
    width: 100%;
    margin-top: 2%;
    .gridizq{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        width: 100%;
        height:650px;
        margin-right: 2%;
        margin-left: 1%;
        margin-bottom: 1%;
        .imagengrid1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .imagengrid2 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 4;
        }
        .imagengrid3 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .imagengrid4 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .imagengrid5 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 4;
        }
        .imagengrid6 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        .imagengrid7 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 5;
        }
    }
    .gridder{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        width: 100%;
        height: 650px;
        margin-left: 2%;
        margin-right: 1%;
        margin-bottom: 1%;
        .imagengrid10 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .imagengrid20 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .imagengrid30 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .imagengrid40 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .imagengrid50 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 4;
        }
        .imagengrid60 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
}
.imagenesgrid{
    width: 100%;
    height: 100%;
    object-fit:cover;
}