.carousel-inner{
    display: flex;
    margin-top: 3%;
    position: relative;
    z-index: 3 !important;
    .d-block{
        width: 100%;
    }
}
/***************************************************MIXIN REGLAS*********************************************************************************/
@mixin cajasindex ($direction, $justify, $margin-top, $width) {
    display:flex;
    flex-direction:$direction;
    justify-content:$justify;
    margin-top:$margin-top;
}
/************************************************************************************************************************************************/
.cajaBienvenidos{
    @include cajasindex(row,center,5%,100%);
    .cajaTexto{
        @include cajasindex(column,space-between,0%,50%);
        padding-right: 5%;
        margin-left: 5%;
        border-top-color: rgba(0, 0, 0, .25);
        border-top-style: solid;
        border-width: 1px;
        .tituloBienvenidos{
            display: block;
            padding-left: 2%;
            font-size: 4rem;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, .4);
            letter-spacing: -4px;
        }
        .parrafoBienvenidos{
            display: block;
            padding-left: 2%;
            padding-right: 4%;
            font-size: 1.4rem;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, .3);
            line-height:normal;
        }
    }
    .cajaImgBienvenidos{
        @include cajasindex(row,left,0%,50%);
        margin-right: 5%;
        .cajaImgBienvenidos--foto{
            @include cajasindex(row,center,0%,100%);
            height: auto;
            padding-right: 5%;
        }        
    }
}
.cajaMasInformacion{
    @include cajasindex(row,center,5%,100%);
    .cajaQueHacemos{
        @include cajasindex(column,space-between,0%,50%);
        margin-left: 5%;
        border-top-color: rgba(0, 0, 0, .25);
        border-bottom-color: rgba(0, 0, 0, .25);
        border-bottom-style: solid;
        border-top-style: solid;
        border-width: 1px;
        padding-bottom: 5%;
        .textoTitulos{
            display: block;
            font-size: 3rem;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, .4);
            letter-spacing: -4px;
            text-align: center;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        .cajaQueHacemos--abajo{
            @include cajasindex(row,right,0%,100%);
            .cajaQueHacemos--abajo--bis{
                @include cajasindex(column,center,0%,100%);
                padding-left: 3%;
                padding-right: 3%;
                padding-top: 5%;
                .cajaQueHacemos--abajo--texto{
                    display: block;
                    font-size: 1.2rem;
                    font-family: Arial, Helvetica, sans-serif;
                    color: rgba(0, 0, 0, .3);
                    line-height:normal;
                }
                .linkProductos{
                    padding-top: 10%;
                    padding-left: 50%;
                    text-decoration: none;
                    color: rgba(0, 0, 0, .6);
                    font-weight: bold;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }
    .cajaQueMateriales{
        @include cajasindex(column,left,0%,50%);
        width: 50%;
        border-top-color: rgba(0, 0, 0, .25);
        border-bottom-color: rgba(0, 0, 0, .25);
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        margin-right: 5%;
        padding-left: 5%;
        padding-bottom: 5%;
        .textoTitulos{
            display: block;
            font-size: 3rem;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, .4);
            letter-spacing: -4px;
            text-align: center;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        .cajaQueMateriales--bis{
            @include cajasindex(column,left,0%,100%);
            .cajaQueMateriales--abajo{
                .cajaQueMateriales--abajo--texto{
                    display: block;
                    font-size: 1.2rem;
                    font-family: Arial, Helvetica, sans-serif;
                    color: rgba(0, 0, 0, .3);
                    line-height:normal;
                    padding-top: 2%;
                }
                .linkMateriales{
                    text-decoration: none;
                    color: rgba(0, 0, 0, .6);
                    font-weight: bold;
                    font-family: Arial, Helvetica, sans-serif;
                    padding-top: 1%;
                    padding-left: 70%;
                }
            }
        }
    }
}
.cajaPagoYenvios{    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    margin-top: 3%;
    margin-bottom: 5%;
    .cajaImgMdp{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        height: 100px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        .imgMdp{
            width: auto;
            height: 80px;
        }
    }     
}